.image1{
    width: 22px;
}

.image2{
    width: 14px;
}

.image3{
    width: 14px;
}

.image4{
    width: 14px;
}

.image5{
    width: 14px;
}

.image6{
    width: 14px;
}

.image7{
    width: 14px;
}

.image8{
    width: 14px;
}

.image9{
    width: 14px;
}

.td{
text-align: right;
}